<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>E-Shop</title>
  </head>
  <header>
    <nav class="flex items-center justify-between p-8 bg-red-900">
      <h1 class="text-3xl font-sans text-red-200"><a href="">Vinito</a></h1>
      <ul class="flex gap-4 text-red-200 text-lg">
        <a href=""> <li>Home</li> </a>
        <a href=""> <li>Productos</li> </a>
        <a href=""> <li>Sobre Nosotros</li></a>
      </ul>
      <ul><button class="font-sans rounded-2xl bg-red-100 p-2 transition transform  duration-150 ease-out hover:ease-in">Login</button></ul>
    </nav>
  </header>
  <body></body>
</html>
